%h1 Lunch Lottery

%p Sign up to have lunch with a random group every Tuesday. We'll email you Monday night.

- form_for Person.new do |f|
  = f.label :email
  = f.text_field :email

  = f.submit "sign me up!"

%ul
  - @people.each do |person|
    %li
      = person
