%p Hello from lunchlottery.com!

%p Want to lunch with some random people on Tuesday?

%ul
  %li
    <b>Yes!</b>
    Click
    = link_to "here", person_token_url(@person.authentication_token, :person => {:opt_in => true})
    to opt in for this week's lunch.

  %li
    <b>No, I'm busy and will be sad instead.</b>

  %li
    = link_to "Unsubscribe", person_token_url(@person.authentication_token, :person => {:subscribed => false})