%p Hello from lunchlottery.com!

%p Want to lunch with some random people on Tuesday?

%ul
  %li
    <b>Yes!</b>
    = link_to "I would like to go to lunch this week!", person_token_url(@person.authentication_token, :person => {:opt_in_datetime => Dates.next_tuesday})

  %li
    <b>No, thanks.</b>
    I'm busy this week.

  %li
    <b>No, thanks.</b>
    = link_to "I would like to stop receiving these emails.", person_token_url(@person.authentication_token, :person => {:subscribed => false})