body {
  text-align: center;
  font-family: Georgia, serif;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: -3px;
  color: darkblue;
  margin: 40px 0 0 0;
}

.field_with_errors {
  display: inline;
}

.errors {
  color: red;
  margin-bottom: 10px;
}