body {
  text-align: center;
  font-family: Georgia, serif;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: -3px;
  color: darkblue;
  margin: 40px 0 0 0;
}

.field_with_errors {
  display: inline;
}

.errors {
  color: red;
}

.flash {
  color: green;
}

li {
  list-style-type: none;
}

#new_location {
  text-align: left;
  margin: 0 auto;
  width: 253px;
}

#new_location label {
  width: 125px;
  margin-top: 10px;
  display: inline-block;
  text-align: left;
}

#new_location #location_submit {
  margin: 10px auto;
  width: 125px;
  display: block;
}

#create_location {
  font-weight: bold;
}

#people_at_location {
    width: 250px;
    margin: 0 auto;
}